
body {
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Baby blue background */
    color: #000; /* Font color */
    margin: 0;
    padding: 0;
    text-align: center
}

.times {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    column-gap: normal
}

h1 {
    color: #000080; /* Bold navy blue */
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #000080; /* Bold navy blue */
    font-weight: bold;
    font-size: 1.2em; /* Slightly bigger font than normal */
    margin-top: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    text-align: center
}

.column {
    float: center;
    width: 50%;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: match-parent 
}

ul li::before {
    content: "\2022"; /* Bullet point */
    color: #000080; /* Bold navy blue */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}'

paragraph {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px; /* Twice as big */
}

video {
    display: block;
    margin: 0 auto;
    width: 560px;
    height: 315px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
}

tableauPlaceholder {
    text-align: center
}